body {
    font-family: Arial;
    padding: 20px;
}

input, button, select {
    margin: 5px 0;
}

li {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    color: gray;
}

#data {
    margin-top: 10px;
}
#data {
    text-align: center;
    margin-top: 20px;
}

.data-item {
    display: inline-block;
    background: #3498db;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 6px;
    font-weight: bold;
}